<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobilegradingsystem.mobilegradingsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:theme="@style/themeTransStatusbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpAs" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".student.StudentRegistration" />
        <activity android:name=".student.StudentProfile" />
        <activity android:name=".teacher.TeacherRegistration" />
        <activity android:name=".teacher.TeacherProfile" />
        <activity android:name=".student.ClassProfile" />
        <activity android:name=".teacher.ClassProfileTeacherAct" />
        <activity
            android:name=".teacher.ClssProfileTeacherBotNav"
            android:label="@string/title_activity_clss_profile_teacher_bot_nav" />
        <activity android:name=".student.ClssProfileStudentBotNav" />
        <activity android:name=".student.FeedBackAct"></activity>
    </application>

</manifest>